name: Test upload

on:
  workflow_dispatch:
    inputs:
      mode:
        description: 'Chọn mode (ví dụ 7-32, 7-64, auto)'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - 7-32
          - 7-64
          - 10-32-ltsc
          - 10-64-ltsc
          - 10-32
          - 10-64
          - 11-64
          - 11-64-ltsc
          - ALL-32
          - ALL-64
          - ALL-32-LITE
          - ALL-64-LITE
          - AUTO

jobs:
  build:
    runs-on: windows-latest
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
      ALIST_TOKEN: ${{ secrets.ALIST_TOKEN }}
      REPO_PATH: ${{ github.workspace }}

      SCRIPT_REPO: ${{ secrets.SCRIPT_REPO }}
      RCLONE_CONF_REPO: ${{ secrets.RCLONE_CONF_REPO }}
      RCLONE_CONFIG_PATH: 'D:\RUN\rclone.conf'
      RCLONE_PATH: ${{ secrets.RCLONE_PATH }}
      ALIST_HOST: ${{ secrets.ALIST_HOST }}
      ALIST_PATH: ${{ secrets.ALIST_PATH }}

      SCRIPT_PATH: D:\RUN
      INSTALL_PATH: D:\INSTALL
      vietstar_path: z.VIETSTAR
      silent_path: z.Silent
      oem_path: 0.OEM
      dll_path: 1.DLL
      driver_path: z.DRIVER
      iso_path: z.ISO
      boot7_path: z.BOOT7
      bootwim: C:\1
      
      rclone_flag: ${{ vars.rclone_flag }}

      FILE_CODE_RULES: |
        [
          {
            "Mode": "7-32",
            "Folder": "Windows 7",
            "Patterns": ["*windows*7*86*.iso"],
            "BootPatterns": ["*7*86*.iso"],
            "isoFolder": "Windows 7/1",
            "VietstarFolder": "Windows 7/1"
          },
          {
            "Mode": "7-64",
            "Folder": "Windows 7",
            "Patterns": ["*windows*7*64*.iso"],
            "BootPatterns": ["*7*64*.iso"],
            "isoFolder": "Windows 7/1",
            "VietstarFolder": "Windows 7/1"
          }
        ]
      MAX_FILE: ${{ vars.MAX_FILE }}
      
    steps:
      - name: Checkout Auto repo
        uses: actions/checkout@v4
        
      - name: Change DNS Server
        shell: pwsh
        run: |
          $newDnsServers = @('1.1.1.1', '8.8.8.8')
          $networkAdapters = Get-NetAdapter | Where-Object { $_.Status -eq 'Up' }
          foreach ($adapter in $networkAdapters) {
               try {
                  Set-DnsClientServerAddress -InterfaceIndex $adapter.ifIndex -ResetServerAddresses
                  Set-DnsClientServerAddress -InterfaceIndex $adapter.ifIndex -ServerAddresses $newDnsServers
              } catch {
                  Write-Host "Failed to set DNS for adapter $($adapter.Name): $_"
              }
          }
          ipconfig /flushdns

      - name: Install Cloudflare WRAP
        shell: pwsh
        run: |
          Write-Host "installing Cloudflare WARP..."
          Invoke-WebRequest -Uri "https://1111-releases.cloudflareclient.com/win/latest" -OutFile "C:\cfwarp.msi"
          Start-Process "msiexec.exe" -ArgumentList "/i C:\cfwarp.msi /qn" -Wait
          . "C:\Program Files\Cloudflare\Cloudflare WARP\warp-cli.exe" registration new
          . "C:\Program Files\Cloudflare\Cloudflare WARP\warp-cli.exe" connect
          # Add a loop to wait for the status to be connected
          for ($attemptCount = 0; $attemptCount -lt 10; $attemptCount++) {
              $output = . "C:\Program Files\Cloudflare\Cloudflare WARP\warp-cli.exe" status
              Write-Host $output
              if ($output -like "*Status update: Connected*") {
                  break
              }
              Start-Sleep -Seconds 5  # Wait for 5 seconds before checking again
          }
          if ($attemptCount -eq 10) {
              Write-Host "Failed to connect after 10 attempts."
              exit 1  # Exit with an error code
          }

      - name: Prepare working directories
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path $env:SCRIPT_PATH -Force | Out-Null
          
      - name: Create folder
        shell: pwsh
        run: |
          $path = Join-Path $env:SCRIPT_PATH $env:vietstar_path
          New-Item -ItemType Directory -Force -Path $path
          Write-Host "Created folder: $path"

      - name: Install rclone
        shell: pwsh
        run: |
          $zip = "$env:SCRIPT_PATH\rclone.zip"
          Invoke-WebRequest -Uri "https://downloads.rclone.org/rclone-current-windows-amd64.zip" -OutFile $zip
          Expand-Archive -Path $zip -DestinationPath "$env:SCRIPT_PATH\rclone" -Force
          $exe = Get-ChildItem "$env:SCRIPT_PATH\rclone" -Recurse -Filter "rclone.exe" | Select-Object -First 1
          Copy-Item $exe.FullName "$env:SCRIPT_PATH\rclone.exe" -Force
          & "$env:SCRIPT_PATH\rclone.exe" version

      - name: Fetch rclone.conf from GitHub
        shell: cmd
        run: |
          curl -H "Authorization: token %GH_PAT%" ^
               -L -o "%RCLONE_CONFIG_PATH%" ^
               https://raw.githubusercontent.com/tuthanika/Rclone-Auto-Refresh-Token/main/rclone.conf
      
      - name: Create dummy ISO file (2GB)
        run: |
          fsutil file createnew dummy.iso 2147483648

      - name: Upload dummy ISO to OneDrive
        run: |
          & "$env:SCRIPT_PATH\rclone.exe" copy dummy.iso "${{ secrets.RCLONE_PATH }}" --config "$env:RCLONE_CONFIG_PATH" --progress
